<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/home'></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink='/cart'>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="itemDetail">
  <ion-img [src]="itemDetail.imgurl" >
  </ion-img>
  <h1>{{itemDetail.name}}</h1>
  <h1><b>&#8377;{{itemDetail.price}}</b></h1>
  <ion-button (click)='addtocart()'>
    ADD TO CART 
    <ion-icon name="cart" slot="end"></ion-icon>
  </ion-button>
</ion-content>
