<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      SHOP NOW !!
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink='/seller'>
        <ion-icon name="contact" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink='/cart'>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let eachitem of items">
    <ion-card-content *ngIf="eachitem" (click)="onDetail(eachitem.id)">
      <ion-img [src]="eachitem.imgurl"></ion-img>
      <ion-card-title color="light" style="background-color: rgb(12, 7, 7)" text-center>
        {{eachitem.name}}
      </ion-card-title>
      <ion-card-title color="light" style="background-color: black" text-center>
        &#8377;{{eachitem.price}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>

</ion-content>